{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href={% static "css/all.min.css" %} rel="stylesheet"> 
</head>
<body>
{% block toolbar %}
<nav class="navbar sticky-top navbar-light bg-primary">
	<a class="navbar-brand" href="http://localhost:8000/">EPS Gest</a>
	{% block toolbar-items %}
		<a href="../" class="nav-link nav-item btn btn-primary">Retour</a>
		<a href="ajout/" class="nav-link nav-item btn btn-primary">Nouveau</a>
	{% endblock %}
</nav>
{% endblock %}
<div id="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>
