{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img src={% static "beneficiaire/avatar1.jpg" %} class="card-img-top" alt="photo bénéficiaire">
  <div class="card-body">
    <h5 class="card-title">{{ beneficiaire.pk }}</h5>
    <p class="card-text">{{ beneficiaire.nom }} {{ beneficiaire.prenom }}</p>
    <a href="editer/" class="btn btn-outline-success">Editer</a>
	<a href="supprimer/" class="btn btn-outline-danger">Supprimer</a>
  </div>
</div>
{% endblock %}
