{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card-group">
  <div class="card">
  	<div class="card-header">
  		<h3 class="card-title">Gestion Bénéficiaires</h3>
  	</div>
    <img src={% static "beneficiaire.jpg" %} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ce module permet la gestion des bénéficiaires de l'établissement</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
      	<a href="/beneficiaire/" class="btn btn-outline-info">Accéder</a>
      </p>
    </div>
  </div>
  <div class="card">
  	<div class="card-header">
  		<h3 class="card-title">Gestion Finance</h3>
  	</div>
    <img src={% static "beneficiaire.jpg" %} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ce module permet la gestion financière de l'établissement</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
      	<a href="/beneficiaire/" class="btn btn-outline-info">Accéder</a>
      </p>
    </div>
  </div>
  <div class="card">
  	<div class="card-header">
  		<h3 class="card-title">Gestion Projets</h3>
  	</div>
    <img src={% static "beneficiaire.jpg" %} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ce module permet la gestion des projets de l'établissement</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
      	<a href="/beneficiaire/" class="btn btn-outline-info">Accéder</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}