{% extends "base.html" %}
{% load static %}
{% block toolbar-items %}
{% endblock%}
{% block content %}
<div class="card-columns">
  <div class="card">
  	<div class="card-header">
  		<h3 class="card-title">Gestion Bénéficiaires</h3>
  	</div>
    <img src={% static "img/beneficiaire.svg" %} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ce module permet la gestion des bénéficiaires de l'établissement</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
      	<a href="/beneficiaire/" class="btn btn-outline-info">Accéder</a>
      </p>
    </div>
  </div>
  <div class="card">
  	<div class="card-header">
  		<h3 class="card-title">Gestion Finance</h3>
  	</div>
    <img src={% static "img/finance.svg" %} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ce module permet la gestion financière de l'établissement</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
      	<a href="/beneficiaire/" class="btn btn-outline-info">Accéder</a>
      </p>
    </div>
  </div>
  <div class="card">
  	<div class="card-header">
  		<h3 class="card-title">Gestion Projets</h3>
  	</div>
    <img src={% static "img/project.svg" %} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ce module permet la gestion des projets de l'établissement</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
      	<a href="/projet/" class="btn btn-outline-info">Accéder</a>
      </p>
    </div>
  </div>
  <div class="card">
  	<div class="card-header">
  		<h3 class="card-title">Gestion Courrier</h3>
  	</div>
    <img src={% static "img/courrier.svg" %} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ce module permet la gestion du courrier de l'établissement</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
      	<a href="/beneficiaire/" class="btn btn-outline-info">Accéder</a>
      </p>
    </div>
  </div>
  <div class="card">
  	<div class="card-header">
  		<h3 class="card-title">Gestion Equipements</h3>
  	</div>
    <img src={% static "img/equipement.svg" %} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ce module permet la gestion des équipements de l'établissement</p>
    </div>
    <div class="card-footer">
      <p class="card-text">
      	<a href="/beneficiaire/" class="btn btn-outline-info">Accéder</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}